DATABASE_URL=postgresql://app_user:change-me@db:5432/cassiopeia
PORT=3000
NASA_API_URL=https://visualization.osdr.nasa.gov/biodata/api/v2/datasets/?format=json
NASA_BASE_URL=https://api.nasa.gov
NASA_API_KEY=
WHERE_ISS_URL=https://api.wheretheiss.at/v1/satellites/25544
HTTP_TIMEOUT_SECONDS=20
HTTP_RETRIES=2
FETCH_EVERY_SECONDS=600
ISS_EVERY_SECONDS=120
