POSTGRES_DB=cassiopeia
POSTGRES_USER=app_user
POSTGRES_PASSWORD=change-me
APP_KEY=base64:replace-with-laravel-key
APP_ENV=production
APP_DEBUG=false
NASA_API_KEY=
JWST_API_KEY=
JWST_EMAIL=
NASA_API_URL=https://visualization.osdr.nasa.gov/biodata/api/v2/datasets/?format=json
WHERE_ISS_URL=https://api.wheretheiss.at/v1/satellites/25544
PAS_LEGACY_PERIOD=300
